<div id="title">
    <p>{{countryDatas?.country}}</p>
</div>

<div id="content">

    <div class="stat" style="margin-right: 50px;">
        <p>Number of entries</p>
        <p><b>{{numberOfEntries}}</b></p>
    </div>

    <div class="stat" style="margin-right: 50px;">
        <p>Total number medals</p> 
        <p><b>{{numberOfMedals}}</b></p>
    </div>

    <div class="stat">
        <p>Total number of athletes</p> 
        <p><b>{{numberOfAthletes}}</b></p>
    </div>
</div>
<highcharts-chart 
  [Highcharts]="Highcharts"
  [options]="chartOptions"

  style="width: 100%; height: 400px; display: block;"
></highcharts-chart>
